<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peoples</title>
</head>
<body>
    <h1>peoples</h1>
<% if(role === "admin") {%>
<% for(let user of users) { %>
<ul>
    <li><%= user.username %> == <%= user.role %></li> 
    <a href="/<%=user._id%>/edit">Edit</a>
</ul>
<% } %>
<% } else { %>
    <ul>
        <li><%= who.username %> == <%= role %></li>
    </ul>
<% } %>


    <form action="/" method="post">
        <button>Logout</button>
    </form>
</body>
</html>